body {
  background-color: #f8f9fa;
}

.sidebar {
  height: 100vh;
  position: fixed;
  top: 6.7%;
  left: 0;
  background-color: #070f2b;
  color: white;
  padding-top: 20px;
  width: 250px;
}

.sidebar a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #495057;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.top-header {
  background-color: #070f2b;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.top-header img {
  height: 50px;
}

.top-header .btn-group {
  display: flex;
}

.second-header {
  background: linear-gradient(to left, #00c3ff,#8a0bf1);
  padding: 10px;
  color: white;
  text-align: center;
  position: fixed;
  width: calc(100% - 250px);
  top: 70px;
  left: 250px;
  z-index: 1000;
}

.card {
  margin-top: 140px;
}

.form-group i {
  margin-right: 5px;
}
.form-group.active {
  border: 2px solid #007bff;
  padding: 10px;
  border-radius: 5px;
}
/* .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.second-header {
  background-color: #007bff;
  padding: 10px;
  color: #fff;
} */

/* .content {
  margin-left: 220px;
  padding: 20px;
} */

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.settings-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  z-index: 1000;
}

.settings-panel h5 {
  margin-bottom: 15px;
}

.settings-panel .button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

